<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests">
  <listeners>
    <listener class-name="com.listeners.SuiteListeners"/>
  </listeners>
  <test thread-count="1" name="_Instance_1" preserve-order="false" parallel="classes">

   <!-- <groups>
      <run>
        <include name="web"/>
      </run>
    </groups>-->
<classes>
  <class name="com.APITestCases.SampleTests"></class>
</classes>
  </test> <!-- _Instance_1 -->
</suite> <!-- Tests -->
